[Desktop Entry]
Name=ElectronIM
Exec=/opt/electronim/electronim %U
Terminal=false
Type=Application
Icon=/opt/electronim/assets/icon_1024x1024.png
StartupWMClass=ElectronIM
Categories=Network;InstantMessaging;
Comment=Combine chat services in one window
