#   Copyright 2019 Marc Nuri San Felix
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
name: Publish NPM

on:
  push:
    tags:
    - '*'

permissions:
  contents: write
  id-token: write  # Required for npmjs OIDC

jobs:
  npm:
    name: NPM Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed (required for https://docs.npmjs.com/trusted-publishers)
      - name: Update npm
        run: npm install -g npm@latest
      - name: Install
        run: npm install
      - name: Change Package version
        run: ./utils/version-from-tag.js
      - name: Prepare NPM package
        run: node ./utils/prepare-npm-package.js
      - name: Publish
        run: npm publish
